{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">
      {{ .Title }}
      {{- if .Draft }}
      <span class="entry-hint" title="Draft">
        <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
          <path
            d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
        </svg>
      </span>
      {{- end }}
    </h1>


    {{- if .Description }}
    <div class="post-description">
      <div class="description-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M12 0C5.373 0 0 5.373 0 12c0 5.071 3.167 9.396 7.563 11.163-.104-.95-.198-2.405.041-3.441.216-.96 1.392-6.122 1.392-6.122s-.354-.71-.354-1.76c0-1.647.956-2.878 2.145-2.878 1.012 0 1.5.76 1.5 1.67 0 1.018-.648 2.537-.983 3.95-.279 1.178.59 2.137 1.748 2.137 2.098 0 3.712-2.21 3.712-5.396 0-2.819-2.03-4.796-4.926-4.796-3.354 0-5.321 2.51-5.321 5.101 0 1.015.39 2.104.877 2.698.098.117.112.219.082.337-.09.37-.29 1.178-.329 1.34-.05.214-.164.26-.38.158-1.421-.66-2.308-2.728-2.308-4.39 0-3.57 2.59-6.847 7.464-6.847 3.919 0 6.964 2.795 6.964 6.526 0 3.89-2.452 7.024-5.858 7.024-1.144 0-2.219-.595-2.585-1.295l-.703 2.675c-.255.992-.947 2.236-1.412 2.998 1.063.329 2.188.509 3.361.509 6.627 0 12-5.373 12-12S18.627 0 12 0z" />
        </svg>
        <span class="description-label">Zusammenfassung:</span>
      </div>
      <p>{{ .Description }}</p>
    </div>
    {{- end }}

    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}
    {{ partial "breadcrumbs.html" . }}
    {{ .Content }}
    {{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <!-- <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li> -->
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}

    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}