.pedigree {
  width: 100%;

  // box shadow
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;

  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }



  svg {
    margin: 0px !important;
  }

  rect {
    stroke: lime;
    fill: lightgray;
    fill-opacity: 0.2;
  }

  .svg-tooltip {
    pointer-events: none;
  }

  .tooltip {
    padding: 10px;
    color: #4a22ff;
  }

  .link {
    fill: none;
    stroke: lightgray;
    stroke-width: 1px;
  }
}