<div class="icon-row">
  <a href="https://www.dcnh.de" target="_blank" rel="noopener">
    <img src="/images/logo_dcnh.svg" alt="Logo des Deutsche Club für Nordische Hunde (DCNH)" class="icon" />
  </a>
  <a href="https://www.vdh.de" target="_blank" rel="noopener">
    <img src="/images/logo_vdh.svg" alt="Logo des Verband für das Deutsche Hundewesen (VDH)" class="icon" />
  </a>
  <a href="https://www.fci.be" target="_blank" rel="noopener">
    <img src="/images/logo_fci.svg" alt="Logo der Fédération Cynologique Internationale (FCI)" class="icon" />
  </a>
</div>