{{ $slides := .Page.Params.gallery | default slice }}
{{ $visibleSlides := first 5 $slides }}
{{ if gt (len $slides) 0 }}

<div class="image-gallery" id="gallery-{{ .Page.File.UniqueID }}">
  {{ range $index, $slide := $visibleSlides }}
  <figure class="image-gallery-item">
    <a href="{{ .src }}" data-pswp-width="{{ .width }}" data-pswp-height="{{ .height }}" data-index="{{ $index }}"
      data-caption="{{ .caption | html }}">
      <img src="{{ .src }}" alt="{{ .alt | default "" }}" loading="lazy" />
    </a>
    {{ if .caption }}
    <figcaption>{{ .caption | safeHTML }}</figcaption>
    {{ end }}
  </figure>
  {{ end }}
</div>

{{ $pswp := resources.Get "js/photoswipe.esm.js" | minify | fingerprint }}

<script type="module">
  import PhotoSwipe from "{{ $pswp.RelPermalink }}";

const galleryData = JSON.parse({{ $slides | jsonify }});

document.querySelectorAll(`#gallery-{{ .Page.File.UniqueID }} a`).forEach((el, index) => {
  el.addEventListener('click', (e) => {
    e.preventDefault();

    const pswp = new PhotoSwipe({
      dataSource: galleryData.map((img) => ({
        src: img.src,
        width: img.width,
        height: img.height,
        alt: img.alt,
        caption: img.caption
      })),
      index: index,
        pswpModule: () => import('{{ $pswp.RelPermalink }}'),
      paddingFn: () => ({
        top: 40,
        bottom: 80, // Platz für caption
        left: 30,
        right: 30
      })
    });

    // Custom Caption registrieren
    pswp.on('uiRegister', function () {
      pswp.ui.registerElement({
        name: 'custom-caption',
        order: 9,
        isButton: false,
        appendTo: 'root',
        html: '',
        onInit: (el, pswpInstance) => {
          pswpInstance.on('change', () => {
            const caption = pswpInstance.currSlide.data.caption || '';
            el.innerHTML = caption;
          });
        }
      });
    });

    pswp.init();
  });
});


</script>

{{ end }}