{{/* Set a scratch variable to indicate that the pedigree chart is used */}}
{{ .Page.Scratch.Set "usesPedigreeChart" true }}

<div id="{{ .Get "id" }}"></div>
<script>
  window.addEventListener('load', () => {
    fetch("/data/dogs/{{ .Get "datafile" }}.json")
      .then(r => r.json())
      .then(data => {
        // by now d3.js and dogPedigreeChart.js have run
        renderDogPedigreeChart("{{ .Get "id" }}", data);
      })
      .catch(err => console.error("Pedigree fetch failed:", err));
  });
</script>
